* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background: radial-gradient(circle, #429873, #317156);
  
    
}

header {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
  }

.logo {
    font-size: 48px;
    font-weight: bold;
    margin-left: 127px;
    margin-right: auto;  

}

nav {
    display: flex;
    gap: 100px;
    margin: 0 auto;  
    position: absolute;  
    

 }

nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.login-btn {
    padding: 8px 15px;
    background-color: #1a392f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 101px;
    font-family: 'Poppins';
    font-size: 16px;
    margin-left: auto; 
}

main {
    text-align: center;
    padding: 20px;
}

h1 {
    font-weight: 200;
    margin-bottom: 10px;
    font-size: 64px;
    font-family: 'Jua', sans-serif;
    margin: 90px 288px;
}

p {
    font-family: 'Roboto Flex';
    font-size: 1.2rem;
    margin: 90px 663px 320px;
    
}

.get-started-btn {
    height: 69px;
    width: 232px;
    padding: 10px 25px;
    background-color: #1a392f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 24px;
   
}

.get-started-btn:hover {
    background-color: #155532;
}